{% extends "base.html" %}
{% block content %}
  <div class="container mt-5">
    <h2 class="mb-4">Tutor Dashboard</h2>
    <div class="row row-cols-1 row-cols-lg-2 row-gap-5">
      <div class="col">
        {% include "tutor_market/includes/tutor_card.html" with page="tutor_detail" %}
        <div class="col">
          <div class="text-muted">
            <i class="fas fa-arrow-up"></i> How others see your profile when they
            search for it.
          </div>
          <div class="mt-2">
            <a href="{% url 'tutor_detail' tutor.pk %}"
               class="btn btn-secondary btn-sm mt-1"><i class="fas fa-user"></i> View your full Profile Page</a>
            <a href="{% url 'edit_tutor' tutor.pk %}"
               class="btn btn-secondary btn-sm mt-1"><i class="fas fa-pencil"></i> Edit Your Profile</a>
          </div>
        </div>
      </div>
      <div class="col">
        <h3>Your Personal Information</h3>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <strong>Name:</strong>
              </td>
              <td>{{ user }}</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <strong>Email:</strong>
              </td>
              <td>{{ user.email }}</td>
              <td>
                <a href="{% url 'account_email' %}" class="btn btn-outline-light btn-sm"><i class="fa fa-pencil"></i></a>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Password:</strong>
              </td>
              <td>**********</td>
              <td>
                <a href="{% url 'account_change_password' %}"
                   class="btn btn-outline-light btn-sm"><i class="fa fa-pencil"></i></a>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Bank details (IBAN):</strong>
              </td>
              <!-- -> Credit for slicing the string: https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#slice -->
              {% if tutor.iban %}
                <td>Ends in: {{ tutor.iban|slice:'-4:' }}</td>
              {% else %}
                <td>Add your IBAN, it's how we will pay you.</td>
              {% endif %}
              <td>
                <a href="{% url 'edit_tutor' tutor.pk %}"
                   class="btn btn-outline-light btn-sm"><i class="fas fa-pencil"></i></a>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Calendly Event Url:</strong>
              </td>
              <!-- -> Credit for slicing the string: https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#slice -->
              {% if tutor.calendly_event_url %}
                <td>
                  <a href="{{ tutor.calendly_event_url }}"
                     aria-label="Link to the Calendly Event URL"
                     rel="noopener noreferrer"
                     target="_blank">{{ tutor.calendly_event_url }}</a>
                </td>
              {% else %}
                <td>Add your Calendly Event URL</td>
              {% endif %}
              <td>
                <a href="{% url 'edit_tutor' tutor.pk %}"
                   class="btn btn-outline-light btn-sm"><i class="fas fa-pencil"></i></a>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Calendly Personal Token:</strong>
              </td>
              <!-- -> Credit for slicing the string: https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#slice -->
              {% if tutor.calendly_event_url %}
                <td>Ends in: {{ tutor.calendly_personal_token|slice:'-4:' }}</td>
              {% else %}
                <td>Add your Calendly personal token</td>
              {% endif %}
              <td>
                <a href="{% url 'edit_tutor' tutor.pk %}"
                   class="btn btn-outline-light btn-sm"><i class="fas fa-pencil"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <a href="{% url "connect_calendly" %}">Connect Calendly</a>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-gap-5 mt-5">
      {% if pending_sessions %}
        <div class="col">
          <h3>Pending Lessons</h3>
          <p class="text-muted">
            The following Lessons were requested by students and are waiting for
            your confirmation:
          </p>
          <ul class="list-group">
            {% for session in pending_sessions %}
              {% include "tutor_market/includes/lesson_list_item.html" with button="schedule" student_tutor="student" %}
            {% empty %}
              <li class="list-group-item">No pending lessons.</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <div class="col">
        <h3>Upcoming Lessons</h3>
        <p class="text-muted">Your next 3 Scheduled Lessons</p>
        <ul class="list-group">
          {% for session in upcoming_sessions %}
            {% include "tutor_market/includes/lesson_list_item.html" with button="join" student_tutor="student" %}
          {% empty %}
            <li class="list-group-item">No upcoming lessons.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <h3>All of your upcoming Lessons</h3>
        <p class="text-muted">Grouped by Student</p>
        <!-- -> Credit for iterating over dictionaries (tuples): https://forum.djangoproject.com/t/loop-through-dictionary-of-lists/2849 -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-gap-3">
          {% for student, sessions in users_and_sessions.items %}
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex gap-3 align-items-baseline">
                    <h5 class="card-title">
                      <span class="text-muted">Student:</span> {{ student }}
                    </h5>
                    <a href="mailto:{{ student.email }}">{{ student.email }}</a>
                  </div>
                  <hr>
                  <p class="text-muted mt-5 mb-0">Upcoming Lessons:</p>
                  <ul class="list-group list-group-flush">
                    {% for session in sessions %}
                      {% include "tutor_market/includes/lesson_list_item.html" with button="join" %}
                    {% empty %}
                      <p>No upcoming Lessons</p>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% empty %}
            <p>You currently have no students.</p>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="accordion" id="bookingHistoryAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseOne"
                      aria-expanded="false"
                      aria-controls="collapseOne">Booking History</button>
            </h2>
            <div id="collapseOne"
                 class="accordion-collapse collapse"
                 aria-labelledby="headingOne"
                 data-bs-parent="#bookingHistoryAccordion">
              <div class="accordion-body">
                <ul class="list-group list-group-flush">
                  {% for session in booking_history %}
                    <li class="list-group-item">
                      <strong>Subject:</strong> {{ session.subject }}
                      <br />
                      <strong>Date:</strong> {{ session.start_time|date:'D, d M Y H:i' }}
                      <br />
                      <strong>Status:</strong> {{ session.session_status }}
                      <br />
                      <strong>Payment status:</strong>
                      {% if session.payment_complete %}
                        Complete
                      {% else %}
                        Pending
                      {% endif %}
                    </li>
                  {% empty %}
                    <li class="list-group-item">No past bookings.</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="alert danger-zone">
          <h4 class="alert-heading">Danger Zone</h4>
          <p>
            Be careful! Actions performed in this area cannot be undone. This will permanently delete your tutor profile and all associated data.
          </p>
          <hr>
          <div class="d-flex justify-content-between">
            <span><strong>Proceed with caution.</strong></span>
            <a href="{% url 'delete_tutor' tutor.pk %}"
               class="btn btn-outline-danger btn-sm">
              <i class="fas fa-trash"></i> Delete Your Tutor Profile
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
