{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Tutor details -->
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-between">
        <h1>{{ tutor.display_name }}</h1>
        <div>
          {% if schedule.author == user or user.is_superuser %}
            <a href="{% url 'edit_tutor' tutor.pk %}" class="btn btn-secondary">Edit your Profile</a>
            <a href="{% url 'delete_tutor' tutor.pk %}" class="btn btn-danger">Delete your Profile</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        {% if tutor.profile_image %}
          <img src="{{ tutor.profile_image.url }}" alt="Image of {{ tutor.display_name }}" class="img-fluid" />
        {% else %}
          <img src="https://gipfel-tutor-768a610dc54f.s3.eu-north-1.amazonaws.com/media/tutor_images/default_profile_image.png" alt="Default profile image" class="img-fluid" />
        {% endif %}
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col">
            <p>{{ tutor.catch_phrase }}</p>
            <p>
              my values:{% for value in tutor.values.all %}
                <span class="badge rounded-pill text-bg-secondary">{{ value }}</span>
              {% endfor %}
            </p>
            <p>
              my subjects:{% for subject in tutor.subjects.all %}
                <span class="badge rounded-pill text-bg-secondary">{{ subject }}</span>
              {% endfor %}
            </p>
          </div>
          <div class="col">
            <p>{{ tutor.hourly_rate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>{{ tutor.description }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          {% if tutor.average_rating.score__avg %}
            Average Rating: {{ tutor.average_rating.score__avg }} |
          {% endif %}
          {{ tutor.ratings.count }} reviews
        </p>
        {% if tutor.ratings.all.count %}
          {{ tutor.ratings.count }}
          {% for review in tutor.ratings.all %}
            <p>{{ review }}</p>
          {% endfor %}
        {% else %}
          <p>No reviews yet</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
