{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <!-- Tutor details -->
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-between">
        <h1>{{ tutor.display_name }}</h1>
        <div>
          {% if schedule.author == user or user.is_superuser %}
            <a href="{% url 'edit_tutor' tutor.pk %}" class="btn btn-secondary">Edit your Profile</a>
            <a href="{% url 'delete_tutor' tutor.pk %}" class="btn btn-danger">Delete your Profile</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        {% if tutor.profile_image %}
          <img src="{{ tutor.profile_image.url }}" alt="Image of {{ tutor.display_name }}" class="img-fluid" />
        {% else %}
          <img src="https://gipfel-tutor-768a610dc54f.s3.eu-north-1.amazonaws.com/media/tutor_images/default_profile_image.png" alt="Default profile image" class="img-fluid" />
        {% endif %}
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col">
            <p>{{ tutor.catch_phrase }}</p>
            <p>
              my values:{% for value in tutor.values.all %}
                <span class="badge rounded-pill text-bg-secondary">{{ value }}</span>
              {% endfor %}
            </p>
            <p>
              my subjects:{% for subject in tutor.subjects.all %}
                <span class="badge rounded-pill text-bg-secondary">{{ subject }}</span>
              {% endfor %}
            </p>
          </div>
          <div class="col">
            <p>{{ tutor.hourly_rate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>{{ tutor.description }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          {% if tutor.average_rating.score__avg %}
            Average Rating: {{ tutor.average_rating.score__avg }} |
          {% endif %}
          {{ tutor.ratings.count }} reviews
        </p>
        {% if tutor.ratings.all.count %}
          {{ tutor.ratings.count }}
          {% for review in tutor.ratings.all %}
            <p>{{ review }}</p>
          {% endfor %}
        {% else %}
          <p>No reviews yet</p>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Reviews Section -->
  <!-- -> Credit for reviews section: https://github.com/benschaf/waste-schedule/blob/main/wasteschedules/templates/wasteschedules/schedule_detail.html -->
  <div class="container mt-5">
    <h2>Reviews</h2>

    <!-- Creating New Comments -->
    <!-- -> Credit for crispy forms: https://github.com/Code-Institute-Solutions/blog/tree/main/12_views_part_3/01_posting_to_database -->
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-3 order-md-2">
        <div class="card-body sticky-md-top">
          {% if user.is_authenticated %}
            {% if existing_review %}
              <h4>Change your review</h4>
              <span class="text-muted">you already posted a review</span>
            {% else %}
              <h4>Leave a review:</h4>
            {% endif %}
            <p>Posting as: {{ user }}</p>
            <form action="{% url 'tutor_detail' tutor.pk %}" method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              <button id="submitButton" type="submit" class="btn btn-primary">Leave Review</button>
            </form>
          {% else %}
            <p>
              <a href="{% url 'account_login' %}">Log in</a> to leave a review
            </p>
          {% endif %}
        </div>
      </div>
      <div class="col">
        <ul class="list-group list-group-flush">
          {% for review in reviews %}
            <li class="list-group-item ps-0">
              <p>
                <i class="fa-regular fa-user"></i>
                &#160;&#160;
                {{ review.user }}
                {% if review.user == request.user %}(you){% endif %}
              </p>
              <p>{{ review.score }}</p>
              <p>{{ review.comment }}</p>
            </li>
          {% empty %}
            No reviews yet.
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
