{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h1>Payment</h1>
    <div class="row row-gap-5 mt-5">
      <div class="col">
        <span class="text-muted">
          The following Lessons are scheduled for payment:
        </span>
        <table class="table">
          <thead>
            <tr>
              <th>Start Time</th>
              <th>Tutor</th>
              <th>Subject</th>
              <th>Event Name</th>
              <th>Status</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            {% for session in sessions %}
              <tr>
                <td>{{ session.start_time }}</td>
                <td>{{ session.tutor }}</td>
                <td>{{ session.subject.name }}</td>
                <td>{{ session.session_name }}</td>
                <td>{{ session.session_status }}</td>
                <td>{{ session.price }} EUR</td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td>
                <strong>Total Balance</strong>
              </td>
              <td colspan="4"></td>
              <td>
                <strong>{{ total_price }} EUR</strong>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="col-12 col-lg-4">
        <h5>Amount to Pay: <strong>{{ total_price }} EUR</strong></h5>
        <form id="payment-form">
          {% csrf_token %}
          <div class="mb-3" id="payment-element">
            <!-- Elements will create form elements here -->
          </div>
          <button id="submit" class="btn btn-primary">Pay Now</button>
          <div id="error-message" class="mt-3 rounded-pill border-0">
            <!-- Display error message to your customers here -->
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block postloadjs %}
  {{ block.super }}
  <script type="text/javascript">
    const stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}')

    const options = {
      clientSecret: '{{ CLIENT_SECRET }}',
      // Fully customizable with appearance API.
      appearance: {
        theme: 'flat'
      }
    }

    // Set up Stripe.js and Elements to use in checkout form, passing the client secret obtained in a previous step
    const elements = stripe.elements(options)

    // Create and mount the Payment Element
    const paymentElement = elements.create('payment')
    paymentElement.mount('#payment-element')

    // Submit the payment to Stripe
    const form = document.getElementById('payment-form')

    form.addEventListener('submit', async (event) => {
      event.preventDefault()
      $('#submit').attr('disabled', true);

      session_objects = [];
      {% for session in sessions %}
        session_objects.push({{ session.id }});
      {% endfor %}
      session_ids = session_objects.join(',');

      const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
      console.log('CSRF: ' + csrfToken);

      const postData = {
        csrfmiddlewaretoken: csrfToken,
        client_secret: options.clientSecret,
        user: '{{ user.id }}',
        sessions: session_ids,
      };
      console.log(postData);

      var url = "{% url 'cache_payment_data' %}";
      console.log(url);

      $.post(url, postData).done(async function() {
        console.log('starting stripe function')
        const { error } = await stripe.confirmPayment({
          //`Elements` instance that was used to create the Payment Element
          elements,
          confirmParams: {
            // change this url to dynamic when deploying
            return_url: `http://127.0.0.1:8000/{% url 'payment_create' %}?user_id={{ user.id }}&sessions=${session_ids}`,
          }
        })

        if (error) {
          // This point will only be reached if there is an immediate error when
          // confirming the payment. Show error to your customer (for example, payment
          // details incomplete)
          const messageContainer = document.querySelector('#error-message')
          messageContainer.classList.add('alert', 'alert-danger')
          messageContainer.innerHTML = '<i class="fas fa-exclamation-circle"></i> ' + error.message
          $('#submit').attr('disabled', false)
        } else {
          // Your customer will be redirected to your `return_url`. For some payment
          // methods like iDEAL, your customer will be redirected to an intermediate
          // site first to authorize the payment, then redirected to the `return_url`.
        }
      }).fail(function(jqXHR, textStatus, errorThrown) {
        console.log('error');
        {% comment %} location.reload(); {% endcomment %}
      });
    });
  </script>
{% endblock %}
