{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container mt-5">
    <!-- Success Message -->
    <div class="alert alert-success">Congratulations! Your Lesson was scheduled successfully</div>
    <!-- Session Details -->
    <div class="row row-gap-5 mt-5">
      <div class="col-md-7">
        <h4>Session Information</h4>
        <p>
          <strong>Your Tutor:</strong> {{ session.tutor }}
        </p>
        <p>
          <strong>Your Email:</strong> {{ session.invitee_email }}
        </p>
        <p>
          <strong>Session Name:</strong> {{ session.session_name }}
        </p>
        <p>
          <strong>Start Time:</strong> {{ session.start_time }}
        </p>
        <p>
          <strong>Session Duration:</strong> {{ session.duration }} minutes
        </p>
        <p>
          <strong>Subject:</strong> {{ session.subject.name }}
        </p>
        <p>
          <strong>Invitee Notes:</strong>
          {% if session.invitee_notes %}
            {{ session.invitee_notes }}
          {% else %}
            -
          {% endif %}
        </p>
        <p>
          <strong>Session Status:</strong> {{ session.get_session_status_display }}
        </p>
        <div class="d-flex flex-wrap gap-2">
          <a href="{% url 'tutor_detail' pk=session.tutor.id %}"
             class="btn btn-primary"><i class="fa-solid fa-plus"></i> Schedule another lesson with {{ session.tutor }}</a>
          <a href="{{ session.reschedule_url }}" class="btn btn-secondary"><i class="fas fa-calendar-alt"></i> Reschedule Lesson</a>
          <a href="{{ session.cancel_url }}" class="btn btn-danger"><i class="fas fa-times"></i> Cancel Lesson</a>
        </div>
      </div>
      <div class="col-md-5">
        <h4>Payment Information</h4>
        <p>
          <strong>Price:</strong> {{ session.price }}
        </p>
        <p>
          <strong>Payment:</strong>
          {% if session.payment_complete %}
            Complete
          {% else %}
            Due
          {% endif %}
        </p>
        <a href="{% url 'payments' pk=session.student.id %}"
           class="btn btn-secondary"><i class="fas fa-euro-sign"></i> Go to Payments</a>
      </div>
    </div>
  </div>
{% endblock %}
