:root {
    --my-blue-green: #219EBC;
    --my-prussian-blue: #023047;
    --my-ut-oragne: #FB8500;
}

.header-container {
    margin-top: 80px;
}

.my-gradient {
    background: linear-gradient(90deg, var(--bs-primary) 0%, var(--my-ut-oragne) 100%);
}

.hero-image {
    padding: 1rem 9rem;
}

@media(max-width: 500px) {
    .hero-image {
        padding: 0.5rem;
    }
}

@media(min-width: 768px) {
    .hero-image {
        padding: 1rem;
    }
}

/* BENTO SECTION */
.parent>div {
    border-style: none;
    padding: 2rem;
    margin-top: 1rem;
}

.div1 {
    background-color: var(--bs-primary);
}

.div1 .card-body {
    padding-top: 1.5rem !important;
}

.div2 {
    background-color: var(--my-prussian-blue);
    color: var(--bs-light);
}

.div2 img {
    /* offset the image */
    margin-top: -80px;
    margin-left: 20px;
}

.value-btn:hover+.btn {
    background-color: var(--bs-btn-light-shaded);
}

.value-btn:checked+.btn {
    background-color: var(--my-ut-oragne);
}

.value-btn-visible {
    opacity: 1;
    transition: opacity 0.5s;
}

.value-btn-hidden {
    opacity: 0;
}

.div3 {
    background-color: var(--my-ut-oragne);
}

.div4 {
    display: none;
    background-color: var(--bs-gray-200);
}

.div5 {
    background-color: var(--my-blue-green);
}

.div5 .card-body {
    padding-left: 1.5rem !important;
}

.div6 {
    background-color: var(--bs-secondary);
}

@media (min-width: 990px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
    }

    .parent>div {
        margin-top: 0px;
    }

    .div1 {
        grid-area: 1 / 1 / 3 / 2;
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 4;
    }

    .div3 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .div4 {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: 2 / 3 / 3 / 4;
    }

    .div5 {
        grid-area: 3 / 1 / 4 / 3;
    }

    .div6 {
        grid-area: 3 / 3 / 4 / 4;
    }
}

/* Tutor List */
.my-gray-background {
    background-color: #f2f2f2;
    color: var(--bs-black);
}

.sorting-badge {
    background-color: #f2f2f2;
    color: var(--bs-black);
}

.sorting-badge:hover+.btn {
    background-color: #e5e5e5;
}

.sorting-badge:checked+.btn {
    background-color: var(--my-blue-green);
    border-color: var(--my-blue-green);
}

.subject-btn:hover+.btn,
.list-value-btn:hover+.btn {
    background-color: #e2e2e2;
}

.subject-btn:checked+.btn {
    background-color: var(--my-ut-oragne);
    border-color: var(--my-ut-oragne);
}

.list-value-btn:checked+.btn {
    background-color: var(--my-prussian-blue);
    border-color: var(--my-prussian-blue);
    color: var(--bs-light);
}