{% extends 'base.html' %}
{% load static %}

<!-- -> Credit for adaptable page header: https://github.com/Code-Institute-Solutions/boutique_ado_v1/blob/master/home/templates/home/index.html -->
{% block page_header %}

{% endblock %}

{% block content %}
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <!-- Hero image -->
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="{% static 'images/hero-gipfel.webp' %}" alt="Design image of a mountain peak with a house in front of it" class="img-fluid" />
      </div>

      <!-- CTA Section -->
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>
          <a href="{% url 'tutor_list' %}" class="btn btn-primary btn-lg my-gradient">Find the Tutor for You</a>
          <div>Learn from the best tutors in the world. Find the perfect tutor for you.</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Search Section -->
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <form action="{% url 'tutor_list' %}" method="GET">
          <div class="input-group">
            <input type="text" name="q" placeholder="Search for a tutor" />
            <button type="submit">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Bento information Section -->
  <div class="container mt-5 p-5">
    <!-- -> Credit for CSS Grid (generation): https://cssgrid-generator.netlify.app/ -->
    <div class="parent">
      <div class="div1 card">
        <img src="{% static 'images/bento-paths.webp' %}" alt="Image of multiple paths leading up a mountain summit." class="img-fluid rounded" />
        <div class="card-body p-0">
          <h5>Customized Learning Paths</h5>
          <p>Unlock your full potential with personalized tutoring plans tailored to your learning style and goals.</p>
        </div>
      </div>
      <div class="div2 card">
        <div class="row g-0">
          <div class="col">
            <div class="card-body p-0">
              <h5>Find your perfect Match</h5>
              <p>Find the ideal tutor for your needs with our matching system, ensuring effective and enjoyable learning experiences.</p>
            </div>
          </div>
          <div class="col">
            <img src="{% static 'images/bento-match.webp' %}" alt="A wallet" class="img-fluid rounded" />
          </div>
        </div>
      </div>
      <div class="div3 card">
        <div class="card-body p-0">
          <h5>Secure and Affordable Payments</h5>
          <p>Invest in your future without breaking the bank. Enjoy competitive rates with secure, hassle-free transactions.</p>
        </div>
      </div>
      <div class="div4 card">
        <img src="{% static 'images/bento-wallet.webp' %}" alt="A wallet" class="img-fluid rounded" />
      </div>
      <div class="div5 card">
        <div class="row g-0">
          <div class="col">
            <img src="{% static 'images/bento-start-now.webp' %}" alt="A wallet" class="img-fluid rounded" />
          </div>
          <div class="col">
            <div class="card-body p-0">
              <h5>Start Your Journey Today!</h5>
              <p>Join Gipfel Tutor now and take the first step towards achieving your academic and personal growth goals.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="div6 card">
        <div class="card-body p-0">
          <h5>Flexible Scheduling</h5>
          <p>Learn at your own pace and convenience with our flexible scheduling options. Your education, on your time.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  <script type="text/javascript">
    window.onload = function () {
      // Transparent navbar when at the top of the page
      $('.navbar').removeClass('bg-body-tertiary')
      $('.navbar-container').removeClass('bg-body-tertiary')
      $(window).scroll(function () {
        console.log($(this).scrollTop())
        if ($(this).scrollTop() == 0) {
          $('.navbar').removeClass('bg-body-tertiary')
          $('.navbar-container').removeClass('bg-body-tertiary')
        } else {
          $('.navbar').addClass('bg-body-tertiary')
          $('.navbar-container').addClass('bg-body-tertiary')
        }
      })

      // -> Credit for the aria-expanded attribute check: https://getbootstrap.com/docs/5.3/components/navbar/#scrolling
      $('.navbar-toggler').click(function () {
        if ($(this).attr('aria-expanded') === 'true') {
          $('.navbar').addClass('bg-body-tertiary')
          $('.navbar-container').addClass('bg-body-tertiary')
        } else {
          if ($(window).scrollTop() === 0) {
            $('.navbar').removeClass('bg-body-tertiary')
            $('.navbar').removeClass('bg-body-tertiary')
          }
        }
      })
    }
  </script>
{% endblock %}
