{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <meta charset="utf-8" />
      <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {% endblock %}
    {% block extra_meta %}{% endblock %}
    {% block corecss %}
      <!-- add google font -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous" />
      <link rel="stylesheet" href="{% static 'css/custom_bootstrap.css' %}" />
      <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% endblock %}
    {% block extra_css %}{% endblock %}
    {% block corejs %}
      <!-- add a fontawesome kit -->
      <script src="https://kit.fontawesome.com/8f0b8db894.js"
              crossorigin="anonymous"></script>
      <!-- add jquery -->
      <script src="https://code.jquery.com/jquery-3.7.1.min.js"
              integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
              crossorigin="anonymous"></script>
      <!-- add bootstrap scripts -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
              crossorigin="anonymous"></script>
      <!-- Stripe -->
      <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}
    {% block extra_js %}{% endblock %}
    <title>
      Boutique Ado
      {% block extra_title %}{% endblock %}
    </title>
  </head>
  <body>
    <header class="navbar-container container-fluid fixed-top bg-body-tertiary">
      <!-- add in navbar -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'landing_page' %}">Gipfel Tutor</a>
          <button class="navbar-toggler"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link {% if request.resolver_match.view_name == 'dashboard' %}active{% endif %}"
                     href="{% url 'dashboard' user.id %}"
                     aria-current="{% if request.resolver_match.view_name == 'dashboard' %}page{% endif %}">
                    {% if request.resolver_match.view_name == 'dashboard' %}
                      <i class="fa-solid fa-rectangle-list"></i>
                    {% else %}
                      <i class="fa-regular fa-rectangle-list"></i>
                    {% endif %}
                    Dashboard
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"
                     href="#"
                     id="navbarDropdown"
                     role="button"
                     data-bs-toggle="dropdown"
                     aria-expanded="false">
                    <i class="fas fa-user"></i> {{ user.username }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                      <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                  </ul>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link {% if request.path == signup_url %}active{% endif %}"
                     href="{% url 'account_signup' %}"
                     aria-current="{% if request.path == signup_url %}page{% endif %}">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.path == login_url %}active{% endif %}"
                     href="{% url 'account_login' %}"
                     aria-current="{% if request.path == login_url %}page{% endif %}">Login</a>
                </li>
              {% endif %}
              <li class="nav-item ms-lg-3 mt-3 mt-lg-0">
                  <a class="btn btn-primary px-3 {% if request.resolver_match.view_name == 'tutor_list' %}cta-tutor-list-active{% endif %}"
                     href="{% url 'tutor_list' %}"
                     aria-current="{% if request.resolver_match.view_name == 'tutor_list' %}page{% endif %}">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Find your Tutor
                  </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    {% if messages %}
      <div class="row fixed-bottom px-2">
        <div class="col col-sm-9 col-md-8 col-lg-5">
          {% for message in messages %}
            <!-- Note: Django messages with the error tag don't work with this but all the other ones do, so use those -->
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show rounded-pill border-0 shadow alert-disappear-5s"
                 role="alert">
              <div class="row align-items-center">
                <div class="col-auto">
                  <!-- -> Credit for capfirst filter: https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#capfirst -->
                  <strong>{{ message.tags|capfirst }}</strong>
                </div>
                <div class="col">{{ message }}</div>
                <div class="col-auto">
                  <button type="button"
                          class="btn-close"
                          data-bs-dismiss="alert"
                          aria-label="Close"></button>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <script>
    setTimeout(function () {
      $('.alert-disappear-5s').alert('close')
    }, 5000)
      </script>
    {% endif %}
    {% block page_header %}<div class="container header-container"></div>{% endblock %}
    {% block content %}{% endblock %}
    {% block post_content %}{% endblock %}
    <!-- Footer -->
    <!-- -> Credit for footer adapted from bootstrap: https://getbootstrap.com/docs/5.3/examples/footers/ -->
    <div class="container-fluid mt-5 bg-dark-subtle p-5">
      <footer class="py-5">
        <div class="row">
          <div class="col-6 col-md-5 mb-3">
            <h5>Site Navigation</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Home</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Pricing</a>
              </li>
              <li class="nav-item mb-2">
                <a href="{% url "faq_page" %}" class="nav-link p-0 text-body-secondary">FAQs</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">About</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Contact</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Terms</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Privacy</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-body-secondary">Sitemap</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 offset-md-1 col-lg-4 offset-lg-3 mb-3">
            <form>
              <h5>Subscribe to our newsletter</h5>
              <p>Monthly digest of what's new and exciting from us.</p>
              <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">Email address</label>
                <input id="newsletter1"
                       type="text"
                       class="form-control"
                       placeholder="Email address" />
                <button class="btn btn-primary" type="button">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
          <p>
            &copy; <span id="year"></span> Benjamin Schäfer.
          </p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3">
              <a class="link-body-emphasis" href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="ms-3">
              <a class="link-body-emphasis" href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="ms-3">
              <a class="link-body-emphasis" href="#"><i class="fab fa-facebook"></i></a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
    {% block postloadjs %}
      <script type="text/javascript">
    $(document).ready(function () {
      $('.toast').toast('show')

      function updateCopyrightNotice() {
        console.log('updateCopyrightNotice function called')
        let getYear = new Date().getFullYear()
        let yearID = $('#year')[0]
        if (getYear == 2024) {
          yearID.innerHTML = getYear
        } else {
          yearID.innerHTML = `2024 - ${getYear}`
        }
      }
      updateCopyrightNotice()
    })
      </script>
    {% endblock %}
  </body>
</html>
